$colors: (
  neutral: (
    no-color-white: #e4e4e4,
    lightest: #b9b9b9,
    light: #acacac,
    normal: #8a8a8a,
    dark: #3b3b3b,
    darkest: #1d1d1d,
    no-color-black: #0f0f0f,
  ),
  primary: (
    light: lightblue,
    normal: #4b4597,
    dark: darkblue,
  ),
);
  