$colors: (
  neutral: (
    no-color-white: white,
    normal: gray,
    dark: #3b3b3b,
    no-color-black: black,
  ),
  primary: (
    light: lightblue,
    normal: blue,
    dark: darkblue,
  ),
);
  