
$ff-chivo: 'Chivo', sans-serif;
$ff-exo: 'Exo 2', sans-serif;

$ff-main: $ff-chivo;
$ff-accent: $ff-exo;

$font-sizes: (
  900: 5.125rem,
  800: 3rem,
  700: 2.25rem,
  600: 1.5rem,
  500: 1.375rem,
  400: 1.125rem,
);

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;
  