body {
	position: relative;
}

header {
	background-color: transparent;
	position: fixed;
	z-index: 1000;
	width: 100%;
}

header .container {
	background-color: transparent;
}

.main-btn {
	opacity: 0;
	translate: 0 -100%;
	pointer-events: none;
}

.main-btn.show {
	pointer-events: all;
}

.show {
	opacity: 1;
	translate: 0 0;
}
