@use "../abstracts/" as *;

.btn {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $ff-accent;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, 35%, clr(neutral, no-color-black));
    color: clr(neutral, no-color-white);
    border-bottom: 3px solid clr(neutral, no-color-white);
    padding: 1.5rem 0;
    width: min(12rem);

	//----hides buttons when the section they take you to is in view
	opacity: 0;
	translate: 0 -100%;
	pointer-events: none;
	transition: all 350ms ease-in-out;

	&.main-btn,
	&.projects-btn,
	&.contact-btn {
		@media (max-width: 725px) {
			translate: 0 0;
			opacity: 1;
			pointer-events: all;
			width: 100%;
			border-bottom: 1px solid clr(neutral, dark);
			background: transparent;
		}
		&::after {
			border-bottom: 1px solid clr(neutral, lightest);
		}
	}

	&.contact-btn {
		
		@media (max-width: 725px) {
			margin-inline-start: 0;
		}
	}

	@media (max-width: 650px) {
		border-bottom: 2px solid clr(neutral, no-color-white);
	}

	&.show {
		pointer-events: all;
		opacity: 1;
		translate: 0 0;
	}

	&:hover,
	&:focus {
		background-image: none;
    	color: clr(neutral, lightest);
	}

	&.underline::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 3px);
		transition: transform 300ms ease-in-out;
		transform: scaleY(0);
		transform-origin: bottom;
		background-color: clr(neutral, no-color-black);
		background-image: linear-gradient(to bottom, transparent, 35%, clr(neutral, dark));
		z-index: -1;
	}

	&.underline:hover::before,
	&.underline:focus::before {
		transform: scaleY(1);
		transform-origin: bottom;
	}

	&.underline::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 3px);
		transition: transform 300ms ease-in-out;
		transform: scaleX(0);
		transform-origin: center;
		border-bottom: 3px solid clr(neutral, lightest);
		@media (max-width: 650px) {
			border-bottom: 2px solid clr(neutral, lightest);
		}
	}

	&.underline:hover::after,
	&.underline:focus::after {
		transform: scaleX(1);
		transform-origin: center;
	}

	&.submit {
		width: max(225px, 40%);
		@media (max-width: 375px) {
			margin-inline-start: 0;
			margin-inline: auto;
			padding: 0.75rem 1rem;
			width: 75%;
			font-size: 1.125rem;
		}
	}

	&.toggle-nav-btn {
		@media (max-width: 725px) {
			position: absolute;
			translate: 0;
			opacity: 1;
			pointer-events: all;
			top: 2rem;
			right: 2rem;
			z-index: 1001;
			width: 3rem;
			height: 2px;
			padding: 0.75rem;		
			background: none;
			border: none;
		}

		&::after {
			content: "";
			position: absolute;
			top: calc(0.75rem - 1px);
			left: 0;
			width: 100%;
			height: 3px;
			background-color: clr(neutral, no-color-white);
			translate: -15% 0;
			transition: translate 350ms ease-in-out 250ms, opacity 250ms ease-in-out 250ms;
		}

		&.open {
			&::after {
				opacity: 0;
				translate: 150% 0;
			}
		}
	}
}

.nav-icon-display {
	@media (max-width: 725px) {
		position: absolute;
		pointer-events: none;
		top: 2rem;
		right: 2rem;
		z-index: 1001;
		width: 3rem;
		height: 2px;
		padding: 0.75rem;		
		background: none;

		&::before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: clr(neutral, no-color-white);
			transition: translate 350ms ease-in-out 500ms, opacity 250ms ease-in-out 500ms;
			
		}

		&::after {
			content: "";
			position: absolute;
			top: -3px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: clr(neutral, no-color-white);
			transition: translate 350ms ease-in-out, opacity 250ms ease-in-out ;
		}

		&.open {
			&::before {
				opacity: 0;
				translate: 150% 0;
			}
			&::after {
				opacity: 0;
				translate: 150% 0;
			}
		}

		&-two {
			position: absolute;
			pointer-events: none;
			top: 2rem;
			right: 2.5rem;
			z-index: 1001;
			width: 2rem;
			height: 2px;
			padding: 0.75rem;		
			background: none;

			&::before {
				$translateUp: calc(-0.75rem - 1.5px);
				content: "";
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 140%;
				height: 3px;
				opacity: 0;
				background-color: clr(neutral, no-color-white);
				translate: 0 $translateUp;
				transition: transform 350ms ease-in-out, opacity 250ms ease-in-out 350ms, width 250ms ease-in-out;
			}

			&::after {
				$translateDown: calc(0.75rem + 1.5px);
				content: "";
				position: absolute;
				top: -3px;
				left: 0;
				width: 140%;
				height: 3px;
				opacity: 0;
				background-color: clr(neutral, no-color-white);
				translate: 0 $translateDown;
				transition: transform 350ms ease-in-out, opacity 350ms ease-in-out 350ms, width 600ms ease-in-out;
			}

			&.open {
				&::before {
					transform: rotate(-45deg);
					opacity: 1;
					width: 100%;
					transition: transform 350ms ease-in-out 750ms, opacity 350ms ease-in-out 500ms, width 600ms ease-in-out 500ms;
				}
		
				&::after {
					transform: rotate(45deg);
					opacity: 1;
					width: 100%;
					transition: transform 350ms ease-in-out 750ms, opacity 350ms ease-in-out 500ms,  width 600ms ease-in-out 500ms;
				}
			}
		}
	}
}