@use "../abstracts/" as *;

.btn {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $ff-accent;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, 35%, clr(neutral, no-color-black));
    color: clr(neutral, no-color-white);
    border-bottom: 3px solid clr(neutral, no-color-white);
    padding: 1.5rem 0;
    width: min(12rem);

	//----hides buttons when the section they take you to is in view
	opacity: 0;
	translate: 0 -100%;
	pointer-events: none;
	transition: all 350ms ease-in-out;

	@media (max-width: 650px) {
		border-bottom: 2px solid clr(neutral, no-color-white);
	}

	&.show {
		pointer-events: all;
		opacity: 1;
		translate: 0 0;
	}

	&:hover,
	&:focus {
		background-image: none;
    	color: clr(neutral, lightest);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 3px);
		transition: transform 300ms ease-in-out;
		transform: scaleY(0);
		transform-origin: bottom;
		background-color: clr(neutral, no-color-black);
		background-image: linear-gradient(to bottom, transparent, 35%, clr(neutral, dark));
		z-index: -1;
	}

	&:hover::before,
	&:focus::before {
		transform: scaleY(1);
		transform-origin: bottom;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 3px);
		transition: transform 300ms ease-in-out;
		transform: scaleX(0);
		transform-origin: center;
		border-bottom: 3px solid clr(neutral, lightest);
		@media (max-width: 650px) {
			border-bottom: 2px solid clr(neutral, lightest);
		}
	}

	&:hover::after,
	&:focus::after {
		transform: scaleX(1);
		transform-origin: center;
	}

	&.submit {
		width: max(225px, 40%);
		@media (max-width: 375px) {
			margin-inline-start: 0;
			margin-inline: auto;
			padding: 0.75rem 1rem;
			width: 75%;
			font-size: 1.125rem;
		}
	}
}