@use "../abstracts/" as *;

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: $ff-accent;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $fw-700;
    margin-block-end: 0.25rem;
}

input {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}

textarea {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}

textarea.error,
input.error {
	outline: 2px solid #9c2828;
}

label.error{
    color: #9c2828;
}

div.error {
	color: #9c2828;
	margin-block-start: 0.5rem;
}

.message-recived {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 1rem 3rem;
    background-color: #537252;
    color: clr(neutral, no-color-black);
    border-radius: 15px;
    border: 2px solid #131f12;
    outline: 1px solid #213620;
    outline-offset: -4px;
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease-in-out;
    z-index: 1002;
    & h5 {
        text-align: center;
    }
    & p {
        max-width: 100%
    }
}
.message-recived.show-message {
   
    opacity: 1;
    transform: translate(-50%, -40%);
}