@use "../abstracts/" as *;

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: $ff-accent;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $fw-700;
    margin-block-end: 0.25rem;
}

input {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}

textarea {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}

textarea.error,
input.error {
	outline: 2px solid #e53e3e;
}

label.error{
    color: #e53e3e;
}

div.error {
	color: #e53e3e;
	margin-block-start: 0.5rem;
}