@use "../abstracts/" as *;

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: $ff-accent;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $fw-700;
}

input {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}

textarea {
    padding: 0.35rem;
    background-color: clr(neutral, lightest);
    border: none;
    border-radius: 2px;
}