@use "../abstracts/" as *;

.section {
    

    & .title {
        position: relative;
        font-family: $ff-accent;
        text-transform: uppercase;
    }
    & .title::after {
        content: " ";
        display: flex;
        background-color: currentColor;
        width: min(750px, calc(100% - 15rem));
        height: 4px;
    }

    & .card-project .title::after,
    & .card-small-project .title::after {
        width: min(500px, calc(100% - 2rem));
    }

    main &:first-child {
        display: flex;
        padding-top: 13rem;
    }

    main & .title:nth-child(2) {
        translate: 15rem 0;
    }

    main &:nth-child(2) {
        padding-top: 20rem;
    } 

}