@use "../abstracts/" as *;

.bg-large-sphere {
    position: absolute;
    height: 65vw;
    width: 65vw;
    background-color: clr(neutral, darkest);
    border-radius: 100%;
    z-index: -1;

    &.hero {
        translate: -20% -35%;
        @media (max-width: 900px) {
            height: 90vw;
            width: 90vw;
        }
        @media (max-width: 375px) {
            height: 115vw;
            width: 115vw;
        }
    }

    &.contact {
        translate: 57.5% 10%;
        @media (max-width: 1250px) {
            height: 100vw;
            width: 100vw;
        }
        @media (max-width: 500px) {
            translate: 25% 10%;
            height: 150vw;
            width: 150vw;
        }
        @media (max-width: 375px) {
            translate: 20% 10%;
            height: 200vw;
            width: 200vw;
        }
    }
}