@use "../abstracts/" as *;

.bg-large-sphere {
    position: absolute;
    height: 65vw;
    width: 65vw;
    background-color: clr(neutral, darkest);
    border-radius: 100%;
    translate: -20% -35%;
    z-index: -1;
}