@use "../abstracts/" as *;

.bg-large-sphere {
    position: absolute;
    height: 65vw;
    width: 65vw;
    background-color: clr(neutral, darkest);
    border-radius: 100%;
    z-index: -1;

    &.hero {
        translate: -20% -35%;
    }

    &.contact {
        translate: 57.5% 10%;
        @media (max-width: 1250px) {
            height: 100vw;
            width: 100vw;
        }
    }
}