@use "../abstracts/" as *;

html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    color: clr(neutral, no-color-white);
    background-color: clr(neutral, no-color-black); 
}

header {
    position: fixed;
    pointer-events: none;
	z-index: 1000;
	width: 100%;
    @media (max-width: 725px) {
        display: flex;
        justify-content: flex-end;
        
    }
}

.height-100 {
    height: 100vh;
}